@charset "utf-8";
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.h0{
	color: #ffffff;
	font-family: "Raleway", Arial, sans-serif;
	font-size: 48px;
	font-style: bold;
}
h1{
	color: #000000;
	font-family: "Raleway", Arial, sans-serif;
	font-size: 36px;
}
a{
	text-decoration: none; 
}
a:hover{
	color: #555555;	
}
a:visited{
	color: #ffffff;
}
.menubar{
	position: fixed;
	top: 0%;
	left: 0%;
	height:  110px;
    width: 100%;

	background-color: #003366;

	
    color: #000;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 30px 0;
    transition: all 0.2s ease-in-out;
}
.menubar:hover{
	box-shadow: 0px 0px 50px #000000;
}
.menu-button{
	color: #ffffff;
	font-family: "Raleway", Arial, sans-serif;
	font-size: 16px;

	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.service-list{
	color: #ffffff;
	box-shadow: 3px 3px 10px #999999;
	height: 250px;
	width: 100%;
	margin-bottom: 40px;
	transition: all 0.2s ease-in-out;
}
.service-list:hover{
	box-shadow: 3px 3px 30px #999999;
}
.service-title{
	color: #000000;
	font-family: "Raleway", Arial, sans-serif;
	font-size: 24px;
}
.service-detail{
	color: #000000;
	font-family: "Raleway", Arial, sans-serif;
	font-size: 16px; 
}

/* CSS Document */

